@model NetWorthCalculator.Models.NetWorthItemResult

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NetWorthItemResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NetWorthId" class="control-label"></label>
                <select asp-for="NetWorthId" class="form-control" asp-items="ViewBag.NetWorthId"></select>
                <span asp-validation-for="NetWorthId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <select asp-for="Item" class="form-control" asp-items="ViewBag.Item"></select>
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
