<h3>No Entries Found!</h3>

<br >
 <a asp-controller="Home" asp-action="Create" class="flex justify-content-center btn btn-success">Create New</a>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
